<div class="inner-container">
  <div class="legal">
    <h1>特定商取引法に基づく表示</h1>
    <h2>販売業者の正式名称</h2>
    <p>有馬 秀騎</p>
    <h2>所在地</h2>
    <p>〒410-2502　静岡県伊豆市上白岩２３４６−１８</p>
    <h2>メールアドレス</h2>
    <p>hide210g@gmail.com</p>
    <h2>運営責任者</h2>
    <p>有馬 秀騎</p>
    <h2>商品代金以外の必要料金</h2>
    <p>利用料金は無料です。</p>
    <h2>返品・交換の方法</h2>
    <p>
      商品購入後のキャンセルはできません。ただし、記載の内容が販売者の都合によって提供されなかった場合事実関係を調査した上で返金いたします。
    </p>
    <h2>引渡し時期</h2>
    <p>即時</p>
    <h2>支払い方法</h2>
    <p>クレジットカードのみ</p>
    <h2>支払い時期</h2>
    <p>商品購入時</p>
    <h2>販売価格</h2>
    <p>
      販売者が提示するプランごとに表示された金額と致します（表示価格は消費税込みの金額です）。
    </p>
  </div>
</div>
