@import 'variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-main;
  z-index: 100;
}

.header {
  &__inner {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__settings {
    color: #efefef;
  }
  &__title {
    font-size: 18px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
  &__logo-link {
    color: #efefef;
    text-decoration: none;
    font-family: 'Baloo Da 2', cursive;
  }
  &__account {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background-color: #efefef;
    background-size: cover;
  }
  &__button {
    color: #efefef;
  }
}
