<div class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__settings">
        <mat-icon aria-hidden="false">settings</mat-icon>
      </div>
      <h1 class="header__title">
        <a href="" class="header__logo-link"> YAMAPATH </a>
      </h1>
      <div class="header__actions">
        <ng-container *ngIf="authService.user$ | async as user; else notLogin">
          <img
            [matMenuTriggerFor]="menuRef"
            class="header__account"
            [src]="user.avatarURL"
            alt=""
          />
        </ng-container>
        <mat-menu #menuRef="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
          </button>
        </mat-menu>
        <ng-template #notLogin>
          <button class="header__button" mat-button routerLink="/login">
            ログイン
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
