mat-form-field {
  width: 100%;
}
.form {
  display: grid;
  gap: 24px;
  max-width: 800px;
  padding: 0 24px;
  margin: 32px auto;
  box-sizing: border-box;
  @media screen and (max-width: 500px) {
    padding: 0 8px;
  }

  &__image {
    margin: 16px auto 32px;
    padding: 16px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.04);
    &--label {
      margin-bottom: 12px;
    }
  }

  &__cropper {
    width: 232px;
    display: inline-block;
  }
  &__submit {
    color: #efefef;
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
