<section class="hero">
  <div class="welcome-container">
    <div class="hero__logo">YAMAPATH</div>
    <div class="hero__text">
      <p>山道の情報がわかる<br />登山情報投稿アプリ</p>
    </div>
    <button class="login-button" routerLink="/login">ログイン</button>
  </div>
</section>
<section class="question">
  <div class="welcome-container">
    <p class="question__text">
      せっかく山に来たのに途中で<br />引き返さないといけない<br />見たかった景色を見れずに<br />通り過ぎてしまった<br />そんな登山体験はしたくないですよね？
    </p>
    <img
      class="question__image"
      src="/assets/images/question-image.svg"
      alt=""
    />
  </div>
</section>
<section class="about">
  <div class="welcome-container">
    <p class="about__text">
      <span class="about__logo">YAMAPATH</span
      >を使えば山に登る前に山の情報を見つけることができます
    </p>
    <img class="about__image" src="/assets/images/mock.svg" alt="" />
  </div>
</section>
<section class="start">
  <div class="welcome-container">
    <p class="start__text">Let's Start</p>
    <button class="login-button login-button--accent" routerLink="/login">
      ログインして始める
    </button>
    <a class="start__login-skip" href="" routerLink="/">ログインをスキップ</a>
    <figure class="start__image">
      <img src="/assets/images/start-image.svg" alt="" />
    </figure>
  </div>
</section>
