<mat-card class="card">
  <p>{{ post.category }}</p>

  <mat-card-content class="card__body">
    <p class="card__content">{{ post.text }}</p>
  </mat-card-content>
  <div
    *ngIf="post.imageUrl"
    [style.background-image]="'url(' + post.imageUrl + ')'"
    class="card__image"
    alt="image"
  ></div>
  <div class="card__bottom">
    <div
      mat-card-avatar
      [style.background-image]="'url(' + post.user.avatarURL + ')'"
      class="card__avatar"
    ></div>
    <mat-card-title>{{ post.user.name }}</mat-card-title>
    <mat-card-subtitle>{{
      post.createdAt | date: 'yyyy/MM/dd HH:mm'
    }}</mat-card-subtitle>
  </div>
</mat-card>
