<mat-card class="card">
  <mat-card-header>
    <div
      mat-card-avatar
      style.background-image="'url(http://placehold.jp/200x200.png)'"
      class="card__avatar"
    ></div>
    <mat-card-title>やまたろう</mat-card-title>
    <mat-card-subtitle>絶景ポイント</mat-card-subtitle>
  </mat-card-header>
  <div
    style.background-image="'url(http://placehold.jp/200x200.png)'"
    class="card__image"
    alt="image"
  ></div>
  <mat-card-content class="card__body">
    <p class="card__content">テストテスト</p>
    <p class="card__date">2020/11/27</p>
  </mat-card-content>
</mat-card>
