<mat-card class="card" [class.card--not-detail]="!isDetail">
  <a
    *ngIf="!isDetail"
    routerLink="/post-detail/{{ post.postId }}"
    class="card__detail-link"
  ></a>
  <div class="card__header">
    <div class="card__title-wrapper">
      <mat-icon class="category-icon--{{ post.category }}">{{
        post.category | categoryToIconCode
      }}</mat-icon>
      <p>{{ post.category | categoryToJapanese }}</p>
      <p class="card__created-at">
        {{ post.createdAt | date: 'yyyy/MM/dd' }}
      </p>
    </div>

    <ng-container *ngIf="user$ | async as user">
      <button
        *ngIf="user.uid === post.user.uid"
        mat-icon-button
        [matMenuTriggerFor]="menuRef"
        class="card__edit"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuRef="matMenu">
        <button mat-menu-item (click)="editPost(post.postId)">
          <mat-icon>edit</mat-icon>
          <span>編集する</span>
        </button>
        <button mat-menu-item (click)="deletePost(post.postId)">
          <mat-icon>delete</mat-icon>
          <span>削除</span>
        </button>
      </mat-menu>
    </ng-container>
  </div>

  <div class="card__body">
    <p class="card__text">{{ post.text }}</p>
    <div
      *ngIf="post.imageUrl"
      [style.background-image]="'url(' + post.imageUrl + ')'"
      class="card__image"
      alt="image"
    ></div>
  </div>

  <div class="card__bottom">
    <div class="card__profile">
      <div
        mat-card-avatar
        [style.background-image]="'url(' + post.user.avatarURL + ')'"
        class="card__avatar"
      ></div>
      <p>{{ post.user.name }}</p>
    </div>
    <div class="like-wrapper">
      <button
        *ngIf="isLiked; else unLiked"
        (click)="unLikePost()"
        class="like-btn"
        mat-icon-button
        color="warn"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <ng-template #unLiked>
        <button
          [disabled]="isProcessing"
          (click)="likePost()"
          class="like-btn"
          mat-icon-button
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
      </ng-template>
      <div>{{ likedCount }}</div>
    </div>
  </div>
</mat-card>
