@import 'variables';

.button {
  &__center {
    position: absolute;
    bottom: 108px;
    right: 16px;
    color: $color-font;
  }
  &__current {
    position: absolute;
    bottom: 176px;
    right: 16px;
    color: $color-font;
  }
}
