@import 'variables';
.map {
  position: relative;
  height: 100%;
  width: 100%;
}

.button {
  &__center {
    position: absolute;
    bottom: 108px;
    right: 16px;
    color: $color-font;
    &--small {
      bottom: 24px;
    }
  }
  &__current {
    position: absolute;
    bottom: 176px;
    right: 16px;
    color: $color-font;
    &--small {
      bottom: 80px;
    }
  }
}
